@bg_top_sidebar: #242C2E;
@bg_sidebar: #344043;
@color_link_menu: #9d9d9d;

@font-face {
  font-family: slabo;
  src: url(../fonts/Slabo27px-Regular.ttf);
}

html, body, p {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: slabo;
	font-style: bold;
}
	
h1 {
	text-transform: uppercase;
}

section h1 {
	margin-top: 0px;
}

.row {
	height: 100%;
}

.clear {
	clear: both;
}

#left-sidebar {
	background-color: @bg_sidebar;
	padding-right: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
	color: white;
  a, a:hover {
		color: white;
	}
}

@media (min-width: 768px) {
	#left-sidebar {
		padding-left: 0px;
		height: 100%;
		float: none;
	  display: table-cell;
	  position: fixed;
	  top: 0;
	  left: 0;
	}
	#content {
		float: none;
	  display: table-cell;
	  position: absolute;
	  right: 0;
	}
	.row {
		display: table;
	}
}

#mobile-header h1 {
	font-size: 20px;
}

#intro {
	float: left;
	width: 100%;
	background-color: @bg_top_sidebar;
	margin-bottom: 40px;
	height: 249px;
	img {
	  width: 40%;
	  max-width: 130px;
	  margin: 0 auto;
	  display: block;
	  margin-top: 30px;
	  border-radius: 50%;
	  border: solid 2px white;
	}
}

#name {
	text-align: center;
	h1 {
		font-size: x-large;
	}
}

#menu ul {
	list-style: none;
	li {
		margin-bottom: 30px;
	  text-transform: uppercase;
	  font-weight: bold;
	  height: 32px;
	  background-repeat: no-repeat;
	  padding-top: 7px;
	  float: none;
	  a {
	  	color: @color_link_menu;
	  }
		.active-menu {
			color: white;
		}
		div {
			height: 30px;
		  width: 30px;
		  display: inline-block;
		  border-radius: 50%;
		  background: white;
		  margin-right: 5px;
		}
		img {
  		margin: 5px;
  		width: 20px;
		}
	}
}

@media (min-width: 1000px) {
 #menu ul {
		margin-left: 20px;
			li a {
			font-size: 18px;
			div {
				margin-right: 20px;
 			}
	  }
	}
}

#content {
	padding-left: 0px;
	padding-right: 0px;
	.text-content {
		padding-left: 20px;
		padding-top: 20px;
	}
	.header-content {
		height: 250px;
    background-position-x: center;
    background-repeat: no-repeat;
	}
	#about-me-content .header-content {
		background-image: url('../img/about-me-header.jpg');
    background-position-y: -200px;
	}
	#job-content .header-content {
		background-image: url('../img/job-header.png');
    background-position-y: -100px;
    background-color: black;
	}
	#skills-content .header-content {
		background-image: url('../img/skills-header.jpg');
    background-color: rgb(39, 40, 34);		
	}
	#education-content .header-content {
		background-image: url('../img/education-header.jpg');
		background-size: 100% 250px;
	}
	#contact-content .header-content {
		background-image: url('../img/contact-header.png');
    background-position-y: center;
	}
}

#about-me-content {
	h1 {
    padding-left: 20px;
	}
}

#job-content {
	h1 {
		margin-bottom: 0px;
		font-size: 24px;
	}
	.job-short-description {
		margin-top: -5px;
		text-transform: underline;
		margin-bottm: 15px;
    margin-left: 10px;
    font-style: italic;
    color: grey;
    text-decoration: underline;
	}
	.job-description {
		margin-bottom: 20px;
	}
	.text-content {
		width: 90%;
	}
}

@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-200px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-200px) 
		           rotate(-360deg);
	}
}

#skills-content {
	// .text-content {
		// #skills-circle {
		// 	position: absolute;
	 //    left: 50%;
	 //    top: 50%;
	 //    img {
		// 		position: absolute;
		// 		height: 80px;
		// 		display: none;
	 //    }
		// 	.rotating {
		// 		animation: rot 22s infinite linear;
		// 	}
		// }
	// }
}