<section id="about-me-content" style="display:none;">
	<div class="header-content"></div>
	<div class="text-content">
		<h1>"你好 - Hello - Bonjour !"</h1>
		<p><strong>
			Nice to meet you, my name is Pierre and I'm a 23 years old french web developer located in Beijing at the moment.<br>
			
			Feel free to check my <a href="https://www.linkedin.com/in/pierre-m%C3%A9dard-961b5271">linkedin</a> as well.<br>
		</strong></p>
	</div>
</section>
