<section id="job-content" style="display:none;">
	<div class="header-content"></div>
	<div class="text-content">
		<% get_jobs().forEach(function(job) { %>
			<div>
				<h1><%= job.title %></h1>
				<p class="job-short-description"><%= job.short_description %></p>
				<p class="job-description"><%= job.long_description %></p>
			</div>
		<% }); %>
	</div>
</section>