<section id="skills-content"  class="active-content" >
	<div class="header-content"></div>
	<div class="text-content">
<!-- 		<div id="skills-circle">
			<img class="logo-skills-1" src="img/logo-php.png" />
 			<img class="logo-skills-2" src="img/logo-javascript.png" />
			<img class="logo-skills-3" src="img/logo-html.png" />
			<img class="logo-skills-4" src="img/logo-css.png" />
			<img class="logo-skills-5" src="img/logo-angular.png" />
			<img class="logo-skills-6" src="img/logo-angular.png" />
			<img class="logo-skills-7" src="img/logo-angular.png" />
			<img class="logo-skills-8" src="img/logo-angular.png" />
			<img class="logo-skills-9" src="img/logo-angular.png" />
			<img class="logo-skills-10" src="img/logo-angular.png" />
			<img class="logo-skills-11" src="img/logo-angular.png" />
		</div>
 -->	</div>
</section>