<!DOCTYPE html>
<html>
<head>
  <% var title = page.title; %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta charset="utf-8" />
  <%- css('css/bootstrap.min') %>
  <%- css('css/style.min') %>
</head>