<nav id="left-sidebar" class="navbar navbar-inverse col-sm-3	">
  <div id="mobile-header" class="navbar-header visible-xs-block">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
    </button>
    <h1>Pierre Medard</h1>
  </div>

	<div id="intro" class="hidden-xs">
		<img src="img/self-pic.png" />	
		<div id="name">
			<h1>Pierre Medard</h1>
			<p>Web Developer</p>
		</div>
	</div>

	<div class="clear"></div>

	<div id="menu" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a class="about-me-nav" href="#"><div><img src="img/about-me.png" /></div>About Me</a></li>
			<li><a class="job-nav" href="#"><div><img src="img/job.png" /></div>Experience</a></li>
			<li><a class="skills-nav active-menu" href="#"><div><img src="img/skills.png" /></div>Skills</a></li>
			<li><a class="education-nav" href="#"><div><img src="img/education.png" /></div>Education</a></li>							
			<li><a class="contact-nav" href="#"><div><img src="img/contact.png" /></div>Contact</a></li>
		</ul>
	</div>
</nav>